<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

  <div>
    <a href="/articles/<%= @article.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/articles/<%= @article.id %>" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>
