<form method = "POST" action = "/articles">
<p>Article Name: <input type = "text" name = "title" id = "title"></p>
<p>Article Content: <textarea name = "content" id = "content"></textarea></p>
<input type = "submit" id = "submit" value = "submit"></p>
</form>