<form method="POST" action="/articles">
  <h1>Title: <input type="text" name="title" id="title"></h1>
  
  <p>Content: <input type="text" name="content" id="content"></p>
  
  <button>value"submit"</button>
</form>