
    <h3>Title: <%= @article.title %></h3>
    <h3>Content: <%= @article.content %></h3>

    <form method="POST" action="/articles/<%= @article.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE">
    </form>